<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>同事</string>
		<key>online</key>
		<string>5</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>0.jpg</string>
				<key>message</key>
				<string>佐助你在哪里，我真的很想你</string>
				<key>name</key>
				<string>小明</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.jpg</string>
				<key>message</key>
				<string>今天去吃什么</string>
				<key>name</key>
				<string>小陈</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>message</key>
				<string>明天去哪里</string>
				<key>name</key>
				<string>小张</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>message</key>
				<string>明天几点集合</string>
				<key>name</key>
				<string>小李</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4,jpg</string>
				<key>message</key>
				<string>我不知道</string>
				<key>name</key>
				<string>小王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>5.jpg</string>
				<key>message</key>
				<string>我不是很清楚</string>
				<key>name</key>
				<string>小聪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>6.jpg</string>
				<key>message</key>
				<string>你问问小明</string>
				<key>name</key>
				<string>小智</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>7.jpg</string>
				<key>message</key>
				<string>我们等一下回去</string>
				<key>name</key>
				<string>小凯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>message</key>
				<string>你明天跟我们一起去吗</string>
				<key>name</key>
				<string>王雅</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>message</key>
				<string>明天早上有数学课</string>
				<key>name</key>
				<string>小红</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>10.jpg</string>
				<key>message</key>
				<string>英语考试在后天</string>
				<key>name</key>
				<string>杨杨</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>message</key>
				<string>下个学期还要选英语课</string>
				<key>name</key>
				<string>丫丫</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>12.jpg</string>
				<key>message</key>
				<string>你跟小雅说一下吧</string>
				<key>name</key>
				<string>大宝</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>message</key>
				<string>我们明天去郊游吧</string>
				<key>name</key>
				<string>小白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>message</key>
				<string>我现在在教室里面，你来找我把</string>
				<key>name</key>
				<string>阿涂</string>
			</dict>
		</array>
		<key>online</key>
		<string>1</string>
		<key>title</key>
		<string>我的好友</string>
	</dict>
</array>
</plist>
